<footer class="container footer">
  <span class="links">
    <%= link_to "Wedding Details", details_path, {:style=>'color:#563D00;'} %> -
    <%= link_to "Meet the Party", couple_path, {:style=>'color:#563D00;'} %> -
    <%= link_to "RSVP", '#', {:style=>'color:#563D00;'} %> -
    <%= link_to "Photos", '#', {:style=>'color:#563D00;'} %> -
    <%= link_to "News", news_path, {:style=>'color:#563D00;'} %> -
    <%= link_to "Contact", contact_path, {:style=>'color:#563D00;'} %> 
  </span>
</footer>